<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, initial-scale=0.8"
    />
    <title>Admin Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!------------------------- css file renderinggg-------------------------------------------- -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <% if (cssFile) { %>
    <link rel="stylesheet" href="/styles/admin/<%= cssFile %>.css" />
    <% } %>
    <link rel="stylesheet" href="/styles/admin/common.css" />

    <!------------------------------------- js file rendering-------------------------------- -->
    <script src="/js/admin/common.js" defer></script>
    <script src="/js/alert.js" defer></script>
    <script src="/js/spinner.js" defer></script>
    <script defer src="/js/dropDown.js"></script>
    <% if (js_file) { %>
    <script type="module" src="/js/admin/<%= js_file %>.js" defer></script>
    <% } %>
    <!-- ------------------------------------------------------------------------------------------ -->
  </head>
  <body>
    <%- include('../partials/spinner') %> <%-
    include('../partials/admin_sidebar') %> <%- body %>
  </body>
</html>
